name: Deploy EKS Infrastructure
on: 
  workflow_dispatch: # This lets you click a button to start the build

permissions:
  id-token: write
  contents: read

jobs:
  build-infrastructure:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3 # GitHub installs Terraform for you here!

      - name: Authenticate to AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::622778846520:role/GitHubAction-EKS-Deployer
          aws-region: us-east-1

      - name: Terraform Init & Apply
        run: |
          # Note: For this to work in a pipeline, you need a 'backend' (S3)
          # For a first-time test, let's keep it simple:
          terraform init
          terraform apply -auto-approve
